@import url(./style.css);

/*  Forgot Password*/
.request_password_form h2 {
    text-align: center;
    margin-bottom: 2rem;
    
  }
  #home h1 {
    font-size: 2rem;
    text-align: center;
  }
  .request_password_form input[type="email"] {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: #fff;
  }
  .request_password_form input[type="email"]:focus {
    background-color: red;
    letter-spacing: 1px;
  }
  .request_password {
    width: 820px;
    height: 620px;
  }
  
  .request-verify_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .request_password_form {
    max-width: 50%;
  }
  #newPassword {
    max-width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
    color: white;
    padding: 2rem 1rem;
    animation: reset_form 0.8s ease;
    display: none;
    /* display: block; */
  }
  
  @keyframes reset_form {
    0% {
      opacity: 0;
      right: -50%;
    }
    30% {
      opacity: 0;
      left: 10%;
    }
    100% {
      opacity: 1;
      right: 100%;
    }
  }
  
  #newPassword h2 {
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
  }
  #requestCode_container {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    font-size: 1.2rem;
    display: none;
  }
  #requestCode_container i {
    cursor: pointer;
  }
  .success_logo {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    left: calc(320px / 2.5);
    top: -80px;
    z-index: 1;
    cursor: pointer;
  }
  
  .success_logo i {
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #requestCode {
    text-align: center;
    background-color: white;
    color: black;
    font-size: large;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 100%;
  }
  .ShowPassword_container {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: darkgray;
  }
  .ShowPassword_container:hover #ShowPassword {
    cursor: pointer;
    color: white;
  }
  #ShowPassword {
    padding-right: 1rem;
  }